@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.div {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
@media (max-width: 991px) {
  .div {
    padding: 0 20px;
  }
}

.title {
  color: #000;
  text-align: center;
  white-space: nowrap;
  margin: 18px auto 0;
  font: 800 64px Pretendard, sans-serif;
}
@media (max-width: 991px) {
  .title {
    font-size: 40px;
    white-space: initial;
  }
}
.div-1 {
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 56px 51px 0;
}
@media (max-width: 991px) {
  .div-1 {
    max-width: 100%;
    margin: 40px 10px 0 0;
  }
}
.div-2 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-2 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.leftbar {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .leftbar {
    width: 100%;
  }
}
.fileinfo {
  display: flex;
  flex-direction: column;
  width: auto;
}
@media (max-width: 991px) {
  .fileinfo {
    margin-top: 40px;
  }
}
.fileinfo2 {
    border-radius: 10px;
    border: 3px solid #dfdfdf;
    background-color: #fff;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: space-between;
    gap: 15px;
    padding: 19px 20px;
    
  }
  
  .infobutton {
    position: relative;
    display: flex;
  }
  
  .img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 4px; /* Added for rounded corners */
  }
  
  .button {
    all: unset;
    display: flex;
    flex-direction: column;
    appearance: none;
    cursor: pointer;
  }

  .fileinfotext {
    color: var(--text_main, #101010);
    white-space: nowrap;
    font: 700 24px Pretendard, sans-serif;
    text-align: center; /* Center horizontally */
  }

  .fileinfotext {
    flex-grow: 1;
    margin-bottom: 10px;
  }

  @media (max-width: 991px) {
    .fileinfotext {
      white-space: initial;
    }
  }
  .filesize{
    white-space: nowrap;
    font: 20px Pretendard, sans-serif;
    text-align:  under; /* Center horizontally */
  }

.button_left {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
  height: auto;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
}
.change_file {
  all: unset;
  display: flex;
  flex-direction: column;
  font: 700 24px Pretendard, sans-serif;
  position: relative;
  appearance: none;
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 1);
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  align-self: stretch;
  width: auto;
  min-height: 0px;
  padding: 15px 25px;
}
.delete_file {
  all: unset;
  display: flex;
  flex-direction: column;
  font: 700 24px Pretendard, sans-serif;

  position: relative;
  margin-top: 20px;
  appearance: none;
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 1);
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  width: auto;
  align-self: stretch;
  min-height: 0px;
  padding: 15px 25px;
}

#canvasContainer {
  overflow-y: auto;
  overflow-x: hidden;
  width: 1500px;
  height: 1000px; /* 조절 가능한 높이 */
}

.canvas {
  display: flex;
  flex-direction: column;
  line-height: normal;
  max-width: 100%;
  height: auto;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .canvas {
    width: 100%;
    margin-left: 0;
  }
}

#fileDropArea {
  display: flex;
  border: 2px dashed #ccc;
  height: 600px;
  padding: 20px;
  align-items: center; /* 텍스트를 수직 가운데 정렬 */
  justify-content: center; /* 텍스트를 수평 가운데 정렬 */
  text-align: center;
  cursor: pointer;
}

#canvasContainer {
  overflow-y: auto;
  max-height: 100%;
}

#canvasImage {
  max-width: 100%;
  height: auto;
}
  
  .files {
    color: #000;
    text-align: center;
    max-width: 100%;
    border-radius: 20px;
    background-color: #d9d9d9;
    flex-grow: 1;
    justify-content: center;
    width: auto;
    align-self: stretch;
    padding: 250px 60px;
    font: 700 40px Pretendard, sans-serif;
    cursor: pointer; /* Add this line to make it look clickable */
  
    /* Additional styling for better visual indication on hover */
    transition: background-color 0.3s ease;
  }
  
  .files:hover {
    background-color: #c0c0c0; /* Change the background color on hover */
  }
  
  @media (max-width: 991px) {
    .files {
      max-width: 100%;
      margin-top: 40px;
      padding: 40px 20px;
    }
  }
  
  
.rightbar {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .rightbar{
    width: 100%;
  }
}

.dropbtn_icon{
  font-family : 'Material Icons';
}
.dropbtn{
  border-radius : 10px;
  border: 3px solid #dfdfdf;
  background-color: #fcfcfc;
  font-weight: 400;
  padding : 12px;
  width :240px;
  text-align: left;
  cursor : pointer;
  font-size : 30px;
  position : relative;
  flex-grow: 1;
  white-space: nowrap;
  font: 700 24px Pretendard, sans-serif;
  text-align: center;
  
}
.dropdown-content{
  display : none;
  font-weight: 400;
  background-color: #fcfcfc;
  min-width : 240px;
  border-radius: 10px;
  border: 3px solid #dfdfdf;
  font-size : 30px;
  position : relative;
  color: var(--text_main, #101010);
  flex-grow: 1;
  white-space: nowrap;
  font: 700 24px Pretendard, sans-serif;
  overflow : scroll;
  box-shadow: 0px 0px 10px 3px rgba(190, 190, 190, 0.6);
}
.dropdown-content::-webkit-scrollbar{
  width : 5px;
  height : 10px;
}
.dropdown-content::-webkit-scrollbar-thumb{
  border-radius : 10px;
  border: 3px solid #dfdfdf;
  background-color :rgb(194, 194, 194)
}

.dropdown-content div{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 20px;
  padding : 12px 20px;
}
.dropdown-content div:hover{
  background-color: rgb(226, 226, 226);
}

.dropdown-content.show{
  display : block;
}





.underbar {
  align-self: stretch;
  display: flex;
  margin-top: 13px;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
@media (max-width: 991px) {
  .underbar {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.before {
  all: unset;
  display: flex;
  flex-direction: column;
  position: relative;
  appearance: none;
  color: white;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  background-image: url(https://cdn.builder.io/api/v1/image/assets%2F7d6ee18a140e4ab3bedf6ffe85c2059c%2Fd1b4e6b476c24aa9a87f0ef9640aacac);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100px;
  margin-right: auto;
  max-width: 100%;
  height: 100px;
  min-height: 100%;
}
.after {
  all: unset;
  display: flex;
  flex-direction: column;
  position: relative;
  appearance: none;
  color: white;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  background-image: url(https://cdn.builder.io/api/v1/image/assets%2F7d6ee18a140e4ab3bedf6ffe85c2059c%2F82c413f379de49f3981e6c95619def23);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100px;
  max-width: 100%;
  margin-left: auto;
  height: 100px;
  min-height: 100%;
}
